<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shellware.CarHome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="13" />
    
   	<uses-permission android:name="android.permission.WAKE_LOCK"/>
   	<uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
    <application android:icon="@drawable/rx8logo" 
        			android:label="@string/app_name" 
        			android:description="@string/app_name">
        <activity android:name=".CarHomeActivity"
                  android:label="@string/app_name"
        			 android:icon="@drawable/rx8logo" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.CAR_DOCK" />
                <category android:name="android.intent.category.DEFAULT" /> 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:exported="false" android:name=".media.MusicService">
            <intent-filter>
                <action android:name="com.shellware.CarHome.action.PLAY" />
                <action android:name="com.shellware.CarHome.action.PAUSE" />
                <action android:name="com.shellware.CarHome.action.SKIP" />
                <action android:name="com.shellware.CarHome.action.REWIND" />
                <action android:name="com.shellware.CarHome.action.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.shellware.CarHome.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>

		<receiver android:name=".media.RemoteControlReceiver">
		    <intent-filter>
		        <!-- <action android:name="android.intent.action.MEDIA_BUTTON" /> -->
		        <action android:name="android.media.AUDIO_BECOMING_NOISY" />
		    </intent-filter>
		</receiver>
		
        <receiver android:name=".helpers.PokeBackReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
		
    </application>


</manifest>